*{box-sizing: border-box;
}

html,body,main{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    background: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    font-size: large;
}

button{
    margin-top: 2rem;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 1px bl;
}
.contenedorUl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.primerLi{
    padding-top: 0.5rem;
}
.penultimoLi{
    padding-bottom: 0.5rem;
}
