*{
    margin: 0;
}

body{
    background-color: aliceblue;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding-top: 15%;
    margin: 0%;
}

a{
    text-decoration: none;
    color: black;
}

button{
    font-size: xx-large;
    padding: 0.5em;
}

#yesBtn{
    border-radius: 25px;
    transform: translate(-100%,0);
    position: absolute;
}

#noBtn{
    border-radius: 25px;
    position: absolute;
    margin-left: 8rem;
}

.contenedorBtn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
